# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env

# IDE
.vscode/
.idea/

# Claude
.claude/

# Reports & Logs
reports/
logs/
*.log
allure-results/
allure-report/

# Screenshots
screenshots/

# OS
.DS_Store
Thumbs.db
